<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>失败客户客户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lay-uis/css/layui.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<table class="layui-hide" id="employee" lay-filter="employee"></table>

<!-- 头部工具栏模板 -->
<script type="text/html" id="toolbarDemo">
    <form class="layui-form" style="float: left;">
        <div class="layui-input-inline">
            <div class="layui-input-inline">
                <input type="text" id="keywords" lay-verify="title" autocomplete="off" placeholder="请输入姓名和电话"
                       class="layui-input">
            </div>
            <div class="layui-input-inline">
                <select id="statekey" lay-filter="aihao">
                    <option value="">全部</option>
                    <option value="-2">流失客户</option>
<!--                    <option value="1">正式客户</option>-->
                    <option value="-1">失败客户</option>
                </select>
            </div>
        </div>
    </form>
    <div style="float: left;padding-left: 20px;padding-top: 1px;">
        <button class="layui-btn layui-btn-sm" lay-event="selectEm">&#12288;查&#12288;询&#12288;</button>
    </div>
</script>
<!-- 删除和编辑模板 -->
<script type="text/html" id="toolDelEdit">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-xs" style="background-color: lightseagreen;" lay-event="edit">编辑</button>
        <button class="layui-btn layui-btn-xs layui-btn-danger" style="background-color: mediumslateblue;"
                lay-event="followup">跟进
        </button>
        <button class="layui-btn layui-btn-xs layui-btn-danger" style="background-color: orangered;"
                lay-event="handover">移交
        </button>
        <button class="layui-btn layui-btn-xs layui-btn-danger" style="background-color: rgb(0, 253, 241);"
                lay-event="edits">修改状态
        </button>
    </div>
</script>
<!-- 新增/编辑客户资料 -->
<script type="text/html" id="addWin">
    <form class="layui-form" action="#" id="potentialInfo">
        <input type="hidden" name="pcId" id="pcId1">
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <input type="text" name="name" id="name1" lay-verify="title" autocomplete="off" placeholder="请输入姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block" style="width: 72%;">
                <input type="text" name="age" lay-verify="title" id="age" autocomplete="off" placeholder="请输入年龄" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block" style="width: 72%;">
                <select name="gender" id="gender" lay-filter="departId" >
                    <option value="男" selected>男</option>
                    <option value="女">女</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block" style="width: 72%;">
                <input type="text" name="tel" lay-verify="title" id="tel" autocomplete="off" placeholder="请输入电话" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">Q&ensp;Q</label>
            <div class="layui-input-block" style="width: 72%;">
                <input type="text" name="qq" lay-verify="title" id="qq" autocomplete="off" placeholder="请输入qq" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职业</label>
            <div class="layui-input-block" style="width: 72%;">
                <select name="jobId" id="jobId" lay-filter="departId" lay-search>

                    <option th:each="t:${details}"  th:value="${t.id}" th:text="${t.title}">老板</option>

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">来源</label>
            <div class="layui-input-block" style="width: 72%;">
                <select name="sourceId" id="sourceId" lay-filter="departId" lay-search>
                    <option th:each="t:${sources}"  th:value="${t.id}" th:text="${t.title}">老板</option>

                </select>
            </div>
        </div>
    </form>
</script>

<!-- 修改客户状态模板 -->
<script type="text/html" id="update">
    <form class="layui-form" action="#">
        <input type="hidden" name="id" id="empId">
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <input  type="text" name="cusName" id="cusName" lay-verify="cusName" autocomplete="off" placeholder="请输入客户姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <select name="status1"  id="status1" lay-filter="aihao">
                    <option value="-2">流失客户</option>
                    <option value="-1">失败客户</option>
                </select>
            </div>
        </div>


    </form>
</script>

<!-- 跟进信息模板 -->
<script type="text/html" id="followUp">
    <form class="layui-form" action="#" id="followInfo">

        <input type="hidden" name="customerId" id="pcId2">
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">姓&#12288;&#12288;名</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <input type="text" name="name" id="name" lay-verify="cusName" autocomplete="off"
                       placeholder="请输入客户姓名" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <div class="layui-inline"  style="width: 90.2%;">
                <label class="layui-form-label">跟进时间</label>
                <div class="layui-input-block">
                    <input type="text" id="traceTime" class="layui-input" placeholder="yyyy-MM-dd">
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">跟进方式</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <select id="traceType" lay-filter="aihao">
                    <option th:each="t:${traceInfo}" th:value="${t.key}" th:text="${t.value}"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">跟进结果</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <select id="traceResult" lay-filter="aihao">
                    <option value="3">能合作</option>
                    <option value="2">犹豫</option>
                    <option value="1">就这</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">跟进类型</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <select id="type" lay-filter="traceType">
                    <option value="0">待开发</option>
                    <option value="1">可跟进</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">跟进内容</label>
            <div class="layui-input-block" style="width: 72%;">
                <textarea id="traceDetails" placeholder="" class="layui-textarea" style="resize:none;"
                          aria-placeholder="跟进内容（选填）"></textarea>
            </div>
        </div>
    </form>
</script>

<!-- 移交信息模板 -->
<script type="text/html" id="handOver">
    <form class="layui-form" action="#">
        <input type="hidden" name="pcId" id="pcId">

        <div class="layui-form-item" style="margin-bottom: 20px;">
            <label class="layui-form-label">移交对象</label>
            <div class="layui-input-block" style="width: 72%;margin-top: 20px;">
                <select id="empId1" lay-filter="aihao">
                    <option th:each="t:${employees}" th:value="${t.empId}" th:text="${t.realname}"></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">移交原因</label>
            <div class="layui-input-block" style="width: 72%;">
                <textarea placeholder="请输入内容" id="reason1" class="layui-textarea" style="resize:none;"></textarea>
            </div>
        </div>


    </form>
</script>

<!--状态-->
<script id="statusInfo" type="text/html">
    {{#if(d.status===-2){ }}
    <button type="button"  class="layui-btn layui-btn-xs layui-btn-normal" >流&#12288;&#12288;&#12288;失</button>
    {{# } }}
    {{#if(d.status===-1){ }}
    <button type="button"  class="layui-btn layui-btn-xs layui-btn-normal" >开发&#12288;失败</button>
    {{# } }}
    {{#if(d.status===0){ }}
    <button type="button"  class="layui-btn layui-btn-xs layui-btn-normal">潜在&#12288;客户</button>
    {{# } }}
    {{#if(d.status===1){ }}
    <button type="button"  class="layui-btn layui-btn-xs layui-btn-normal" >正式&#12288;客户</button>
    {{# } }}
    {{#if(d.status===2){ }}
    <button type="button"  class="layui-btn layui-btn-xs layui-btn-normal">资源池客户</button>
    {{# } }}
</script>

<script src="/static/lay-uis/layui.js"></script>
<script>
    layui.use(['form', 'upload', 'element', 'layer', 'table','laydate'], function () {
        var form = layui.form,
            table = layui.table
            , $ = layui.jquery
            , upload = layui.upload
            , element = layui.element
            , laydate=layui.laydate
            , layer = layui.layer;

        table.render({
            elem: '#employee',
            url:'fail/queryAllFail.do',
            toolbar: "#toolbarDemo",
            id: "idTest",
            cellMinWidth: 80,
            defaultToolbar: ['exports', 'print'],
            title: "客户信息表",
            cols: [
                [
                    {type: 'numbers', title: '序号', width: 80},
                    {field: 'name', title: "姓名"},
                    {field: 'age', title: "年龄"},
                    {field: 'gender', title: "性别"},
                    {field: 'tel', title: "电话",},
                    {field: 'qq', title: "QQ",},
                    {field: 'job', title: "职业",},
                    {field: 'source', title: "来源",},
                    {field: 'seller', title: "营销人员",},
                    {field: 'status', title: "状态",templet:'#statusInfo'},
                    {field: '', title: "操作", width: 220, templet: "#toolDelEdit"}
                ]
            ],
            page: true
        })

        table.on('toolbar(employee)',function (obj) {
            switch (obj.event) {
                case 'selectEm':
                    table.reload('idTest',{
                        url:'potential/queryAllByKey.do',
                        where:{
                            keyword:$("#keywords").val(),
                            state:$("#statekey").val()
                        },
                        page:{
                            curr:1
                        }
                    })
            }
        })

        table.on('tool(employee)', function (obj) {
            var temp = obj.data;
            switch (obj.event) {
                case "edit":
                    //修改单个客户状态
                    layer.open({
                        type: 1,
                        title: "修改客户信息",
                        area: ['700px', '500px'],
                        shade: 0.4,
                        content: $("#addWin").html(),
                        btn: ['确认修改', '取消'],
                        scrollbar: false,
                        anim: 3,
                        closeBtn: false,
                        success: function(layero, index) {
                            var form1 = layero.find("form")[0];
                            form1[0].value = temp.pcId
                            form1[1].value = temp.name
                            form1[2].value = temp.age
                            form1[3].value = temp.gender === '男' ? 0 : 1
                            form1[4].value = temp.tel
                            form1[5].value = temp.qq
                            form1[6].value = temp.jobId
                            form1[7].value = temp.sourceId

                            form.render()
                            var selectjob = 'dd[lay-value=' + temp.jobId + ']';
                            var selectjsource = 'dd[lay-value=' + temp.jobId + ']';
                            var selectgender='dd[lay-value=' + temp.gender + ']';
                            console.log(selectjsource)
                            $('#jobId').siblings("div.layui-form-select").find('dl').find(selectjob).click();
                            $('#sourceId').siblings("div.layui-form-select").find('dl').find(selectjsource).click();
                            $('#gender').siblings("div.layui-form-select").find('dl').find(selectgender).click();
                        },
                        yes: function(index, layero) {
                            $.ajax({
                                type:'post',
                                url:'potential/addAndUpdateInfo.do',
                                data:$("#potentialInfo").serialize(),
                                dataType:'json',
                                success:function (data) {
                                    if (data.code==200){
                                        layer.msg(data.msg,{icon:1})
                                        table.reload('idTest',{
                                            url:'formal/queryAllByKey.do'
                                        })
                                    }else {
                                        layer.msg(data.msg,{icon:2})
                                    }
                                },
                                error:function () {
                                    layer.msg("系统错误请联系管理员！！！",{icon:2})
                                }
                            })
                            layer.close(index)
                        }
                    })
                    break;
                case "edits":
                    //修改单个客户状态
                    layer.open({
                        type: 1,
                        title: "状态修改",
                        area: ['600px', '400px'],
                        shade: 0.4,
                        content: $("#update").html(),
                        btn: ['确认修改', '取消'],
                        scrollbar: false,
                        anim: 3,
                        closeBtn: false,
                        success: function(layero, index) {
                            var form1 = layero.find("form")[0];

                            form1[0].value = temp.name
                            form1[1].value = temp.status
                            form.render()
                        },
                        yes: function(index, layero) {

                            $.ajax({
                                type:'post',
                                url:'potential/changeState.do',
                                data:{pcId:temp.pcId,state:$("#status1").val()},
                                dataType:'json',
                                success:function (data) {
                                    if (data.code==200){
                                        layer.msg(data.msg,{icon:1})
                                        table.reload('idTest',{
                                            url:'formal/queryAllByKey.do',
                                            page:{curr:1}
                                        })
                                    }
                                },
                                error:function () {
                                    layer.msg("系统错误请联系管理员！！！",{icon:2})
                                }
                            })
                            layer.close(index)
                        }
                    })
                    break;
                case "followup":
                    //跟进
                    layer.open({

                        type: 1,
                        title: "跟进记录",
                        area: ['600px', '540px'],
                        shade: 0.4,
                        content: $("#followUp").html(),
                        btn: ['保存', '关闭'],
                        scrollbar: false,
                        anim: 3,
                        closeBtn: false,
                        success: function (layero, index) {

                            form.render()
                            laydate.render({
                                elem: '#traceTime'
                                ,format: 'yyyy-MM-dd'
                                ,trigger:'click'
                            });
                            var form1 = layero.find("form")[0];

                            form1[0].value = temp.pcId
                            form1[1].value = temp.name

                        },
                        yes: function (index, layero) {
                            $.ajax({
                                type:'post',
                                url:'follow/addFollowHisInfo.do',
                                data: {
                                    customerId:$("#pcId2").val(),
                                    traceTime:$("#traceTime").val(),
                                    traceType:$("#traceType").val(),
                                    traceResult:$("#traceResult").val(),
                                    type:$("#type").val(),
                                    traceDetails:$("#traceDetails").val()
                                },
                                dataType:'json',
                                success:function (data) {
                                    if (data.code==200){
                                        layer.msg(data.msg,{icon:1})
                                    }
                                },
                                error:function () {
                                    layer.msg("系统错误请联系管理员！！！",{icon:2})
                                }
                            })
                            layer.close(index)
                        }
                    })
                    break;
                case "handover":
                    //移交
                    layer.open({

                        type: 1,
                        title: "移交",
                        area: ['600px', '400px'],
                        shade: 0.4,
                        content: $("#handOver").html(),
                        btn: ['确定', '关闭'],
                        scrollbar: false,
                        anim: 3,
                        closeBtn: false,
                        success: function (layero, index) {
                            form.render()

                            var form1 = layero.find("form")[0];
                            console.log(form1[0])
                            form1[0].value = temp.id
                            form1[1].value = 0
                        },
                        yes: function (index, layero) {
                            $.ajax({
                                type:'post',
                                url:'customerPool/handOverInfo.do',
                                data:{pcId:temp.pcId,sellerId:temp.sellerId,empId:$("#empId1").val(),reason:$("#reason1").val()},
                                dataType:'json',
                                success:function (data) {
                                    if (data.code==200){
                                        layer.msg(data.msg,{icon:1})
                                        table.reload("idTest")
                                    }

                                },
                                error:function () {
                                    layer.msg("系统错误请联系管理员！！！",{icon:2})
                                }
                            })
                        }
                    })
                    break;


            }
        })

    });

</script>
</body>
<style>
    .layui-table-tool {
        min-height: 70px
    }

    .layui-table-tool button {
        height: 35px;
        font-size: 13px;

    }

    .layui-upload-drag {
        width: 82.5%;
    }
</style>

</html>