<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.w.crmsystem.mapper.SystemdictionaryitemMapper" >
  <resultMap id="BaseResultMap" type="com.w.crmsystem.domain.Systemdictionaryitem" >
    <id column="sdi_id" property="sdiId" jdbcType="INTEGER" />
    <result column="parent" property="parent" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="intro" property="intro" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sdi_id, parent, name, intro
  </sql>

</mapper>